<?xml version="1.0" encoding="UTF-8"?>

<jira-database-config>
  <name>defaultDS</name>
  <delegator-name>default</delegator-name>
  <database-type>{{ jira_database_type }}</database-type>
{% if jira_database_schemaname | default('') != '' %}
  <schema-name>{{ jira_database_schemaname }}</schema-name>
{% endif %}
  <jdbc-datasource>
    <url>{{ jira_database_url }}</url>
    <driver-class>{{ jira_database_driver_class }}</driver-class>
    <username>{{ jira_database_username }}</username>
    <password>{{ jira_database_password }}</password>
    <pool-min-size>{{ jira_database_pool_min_size | default('20') }}</pool-min-size>
    <pool-max-size>{{ jira_database_pool_max_size | default('20') }}</pool-max-size>
    <pool-max-wait>{{ jira_database_pool_max_wait | default('30000') }}</pool-max-wait>
    <pool-max-idle>{{ jira_database_pool_max_idle | default('20') }}</pool-max-idle>
    <pool-remove-abandoned>true</pool-remove-abandoned>
    <pool-remove-abandoned-timeout>300</pool-remove-abandoned-timeout>
    {{ jira_database_additional_args | default('') }}

    <validation-query>{{ jira_database_validation_query | default('select version();') }}</validation-query>
{% if jira_database_validation_query_timeout | default('') != '' %}
    <validation-query-timeout>{{ jira_database_validation_query_timeout }}</validation-query-timeout>
{% endif %}
    <min-evictable-idle-time-millis>60000</min-evictable-idle-time-millis>
    <time-between-eviction-runs-millis>300000</time-between-eviction-runs-millis>

    <pool-test-while-idle>true</pool-test-while-idle>
    <pool-test-on-borrow>false</pool-test-on-borrow>
  </jdbc-datasource>
</jira-database-config>
